<div class="modal-title">
  Some title here
</div>

<div class="modal-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laudantium nesciunt placeat quas sequi
    sit suscipit. Deleniti est eveniet explicabo ipsum iste, obcaecati perspiciatis porro praesentium, quas qui
    vitae.</p>
</div>

<div class="modal-actions">
  <button (click)="close()">Close</button>
  <button (click)="submit()">Submit</button>
</div>
