<h2>
  Test reusable dialogs:
</h2>

<section>
  <button (click)="openComponent()">
    Open component
  </button>

  <button (click)="openString()">
    Open string
  </button>

  <button (click)="openTemplate()">
    Open template
  </button>
</section>


<ng-template #tmp>
  <div class="modal">

    <h2 class="modal-title">
      Test reusable dialogs:
    </h2>

    <section class="modal-content">
      <button (click)="openComponent()">
        Open component
      </button>

      <button (click)="openString()">
        Open string
      </button>
    </section>
  </div>
</ng-template>
